.themes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 30px;
  background-color: #EDECE8;
  color: #726E5F;
}

.btn-theme {
  padding: 30px;
}

.btn-theme button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #EDECE8;
  color: #726E5F;
}

.btn-theme button:hover {
  color: #96938b;
} 