.profile-submenu {
  width: 10rem;
  position: absolute;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  top: 100px;
}

.profile-submenu li {
  cursor: pointer;
}

.profile-submenu-clicked {
  display: none;
}

.submenu-item {
  display: block;
  width: 80%;
  height: 100%;
  text-decoration: none;
  color: #4B462A;
  padding: 16px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

.submenu-item:hover {
  background: rgba(150, 147, 139, 0.4);
}
