.nav {
  background-color: rgba(237,236,232,0.7);
  width: 100%;
  height: 100px;
  color: #726E5F;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
}

.nav--left-side {
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}


.nav--right-side {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #4B462A;
}

.nav--right-side:hover {
  color: rgb(150, 147, 139);
  cursor: pointer;
}

.nav-bar-link-logo {
  text-decoration: none;
  color: #4B462A;
  font-size: 25px;
  padding-right: 80px;
  padding-left: 20px;
  font-family: 'Lora', serif;
  font-weight: 500;
  letter-spacing: 2.5px;
}

.nav-bar-link {
  text-decoration: none;
  color: #726E5F;
  padding: 20px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-bar-link:hover {
  color: #96938b;
}


.fa-user {
  font-size: 30px;
}

/* PRIVATE */
.btn-main {
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  border: none;
  color: #726E5F;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-main:hover {
  color: #96938b;
}

.nav--right-side-private {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #726E5F;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: normal;
}

#welcome {
  padding-right: 30px;
}

.nav--middle-private {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}
