.nav {
  background-color: transparent;
  width: 100%;
  height: 100px;
  color: #726E5F;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
}

/* .nav--middle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* justify-self: flex-start; */

.nav--left-side {
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}


.nav--right-side {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav--right-side:hover {
  color: plum;
  cursor: pointer;
}

.nav-bar-link-logo {
  text-decoration: none;
  color: #726E5F;
  font-size: 20px;
  padding-right: 100px;
  padding-left: 20px;
}

.nav-bar-link {
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  color: #726E5F;
}

.nav-bar-link:hover {
  color: #96938b;
}

.btn-main {
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  border: none;
  color: #726E5F;
  font-size: 20px;
}

.btn-main:hover {
  color: #96938b;
}

.fa-user {
  font-size: 30px;
}

/* PRIVATE */
.nav--right-side-private {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#welcome {
  padding-right: 30px;
}

.nav--middle-private {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}
